.youtube-content {
    width: 100%;
    height: 100%;
}
.item.active::before {
    background-color: var(--red);
}

.header, .videos, .graph1 {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.videos {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    flex: 1;
    max-height: 65rem;
}

img {
    height: 100%;
    border-radius: 0.5rem;
}

#profile img {
    height: 2rem;
}

.video {
    height: 8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.video-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.video {
    font-size: 1.2rem;
    box-shadow: var(--shadow-light);
    padding: 1rem;
    border-radius: 1rem;
}

.header {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    min-height: 20rem;
    height: fit-content;
    gap: 2rem;
    justify-content: space-around;
    align-items: center; /* Alinea verticalmente */
    font-size: 1.8rem;
    flex-wrap: wrap;
}

#profile {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#profile div {
    width: 20rem;
    text-wrap: wrap;
    overflow-wrap: break-word;
    overflow: hidden;
    font-size: 3.2rem;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.block .num {
    font-size: 2.4rem;
}

.block .txt {
    font-size: 1.6rem;

}

.block i {
    color: var(--red);
    font-size: 5rem;
}

hr {
    width: 100%;
    color: black;
}

.youtube-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    flex-wrap: wrap;
}

.graph1 {
    flex: 1;
    padding: 1.5rem;
}

@media screen and (max-width: 5rem) {
    .flex, .header {
        flex-direction: column;
        height: fit-content;
    }
    .header img {
        height: 8rem;
    }
}