{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/twitter.css' %}">
{% endblock %}

{% block content %}
<div class="header">
    <div id="loader">
        <svg viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>
</div>
<div class="data" id="databody">
    <!-- <div class="tweet">
        <div class="tweet-header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Baby.tux-800x800.png" alt="">
            <div class="roboto-bold-italic">@joerogan</div>
        </div>
        <div class="tweet-text roboto-regular">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt repudiandae voluptate reprehenderit
            itaque doloribus nemo quo, dolor, natus ipsa culpa facere fugit quibusdam nesciunt sit aperiam. Repellat
            magnam autem qui.
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Baby.tux-800x800.png" alt="">
        <div class="tweet-stats roboto-bold-italic">
            <div class="retweets">tweets</div>
            <div class="likes">likes</div>
            <div class="comments">comments</div>
            <div class="quotes">quotes</div>
        </div>
    </div> -->
</div>
<div class="graph1" id="graph1" style="position: relative;">
    <canvas id="retweetsChart"></canvas>
</div>
<div class="graph2">
</div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/twitter.js' %}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        call_api('{% url "api_twitter" %}?userName=joerogan');
    });
</script>
{% endblock %}