{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/youtube.css' %}">
{% endblock %}

{% block content %}
<div class="header">
    <div>
        <img src="{{data.channel.thumbnail}}" alt="Profile Picture">
        <div class="txt roboto-bold-italic">@{{data.channel.title}}</div>
    </div>
    <div>
        <i class="nf nf-fa-eye"></i>
        <div class="num roboto-bold">{{data.channel.statistics.viewCount}}</div>
        <div class="txt roboto-regular-italic">Views</div>
    </div>
    <div>
        <i class="nf nf-oct-people"></i>
        <div class="num roboto-bold">{{data.channel.statistics.subscriberCount}}</div>
        <div class="txt roboto-regular-italic">Suscribers</div>
    </div>
    <div>
        <i class="nf nf-oct-video"></i>
        <div class="num roboto-bold">{{data.channel.statistics.videoCount}} Videos</div>
        <div class="txt roboto-regular-italic">Videos</div>
    </div>
    <div>
        <i class="nf nf-cod-comment_discussion"></i>
        <div class="num roboto-bold">{{data.channel.statistics.avgComments}}</div>
        <div class="txt roboto-regular-italic">Avg Comments</div>
    </div>
    <div>
        <i class="nf nf-md-hand_heart_outline"></i>
        <div class="num roboto-bold">{{data.channel.statistics.avgLikes}}</div>
        <div class="txt roboto-regular-italic">Avg Likes</div>
    </div>
    <div>
        <i class="nf nf-md-eye_plus_outline"></i>
        <div class="num roboto-bold">{{data.channel.statistics.avgViews}}</div>
        <div class="txt roboto-regular-italic">Avg Views</div>
    </div>
</div>
<div class="videos">
    {% for video in videos %}
    <a class="video" href="https://www.youtube.com/watch?v={{video.url}}">
        <img src="{{video.thumbnail}}" alt="">
        <div>
            <p class="title roboto-bold">{{video.title}}</p>
            <p class="date roboto-regular-italic">{{video.datetime}}</p>
        </div>
    </a>
    {% endfor %}
    
</div>
<div class="graph1">
    {{fig|safe}}
</div>
<div class="graph2">Graph2</div>
{% endblock %}